<div class="container p-4">
<div class="row">
    <div class="col-5 shadow ms-5 me-5 p-3 mb-5 bg-body rounded">
<div class="card">
  <div class="card-header">
     <h5 class="card-title">First main banner</h5>
  </div>
  <div class="card-body">

  <p>Current banner</p>
  <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdropbannerOne">Show</button>

<form action="/admin/firstmainbanner" id="bannerone" method="post" enctype="multipart/form-data">
    <label for="">Heading</label><br>
    <input type="text" name="banner1heading" id=""><br>
     <label for="">Description</label><br>
    <textarea name="banner1description" id="" cols="40" rows="5"></textarea><br>
     <label for="" class="mt-1">Shop now button direction</label><br>
  <select name="firstmainbannercategory" id="">
         {{#each categoryData}}
         <option>{{this.category}}</option>
         {{/each}}
     </select><br>

     <label for="" class="mt-1">Banner image</label><br>
     <input type="file" name="banner1image" id="banner1image" onchange="return BannerOneFileValidation()" > 
     <div id="imagePreviewBannerOne" class="mt-2"></div><br>
       <button type="submit" class="btn btn-primary">Submit</button>
</form>
  </div>
</div>
</div>


  <div class="col-5 shadow p-3  ms-5  shadow p-3 mb-5 bg-body rounded">
<div class="card ">
  <div class="card-header">
     <h5 class="card-title">Second main banner</h5>
  </div>
  <div class="card-body">


      <p>Current banner</p>
  <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdropbannerTwo">Show</button>
  
<form action="/admin/secondmainbanner" id="bannertwo" method="post" enctype="multipart/form-data">
    <label for="">Heading</label><br>
    <input type="text" name="banner2heading" id=""><br>
     <label for="">Description</label><br>
    <textarea name="banner2description" id="" cols="40" rows="5"></textarea><br>
     <label for="" class="mt-1">Shop now button direction</label><br>
  <select name="secondmainbannercategory" id="">
         {{#each categoryData}}
         <option>{{this.category}}</option>
         {{/each}}
     </select><br>
     <label for="" class="mt-1">Banner image</label><br>
     <input type="file" name="banner2image" id="banner2image" onchange="return BannerTwoFileValidation()"><div id="imagePreviewBannerTwo" class="mt-2"></div><br>
     <button type="submit" class="btn btn-primary mt-2">Submit</button>
</form>
  </div>
</div>
</div>
</div>






<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="staticBackdropbannerOne" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Current banner</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img style="width:100%;height:auto"  src="/images/banner-images/{{bannerOne._id}}.png" alt="">
        <p class="mt-2">Heading:<span>{{bannerOne.bannerOneHeading}}</span></p>
        <p>Banner description:<span>{{bannerOne.bannerOneDescription}}</span></p>
      </div>
    
    </div>
  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="staticBackdropbannerTwo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Current banner</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <img style="width:100%;height:auto"  src="/images/banner-images/{{bannerTwo._id}}.png" alt="">
        <p class="mt-2">Heading:<span>{{bannerTwo.bannerTwoHeading}}</span></p>
        <p>Banner description:<span>{{bannerTwo.bannerTwoDescription}}</span></p>
      </div>
    
    </div>
  </div>
</div>






       <div class="col-lg-6 ">
                        <div id="image-box" style="width: 500px; height: 500px; display: none;"></div>
                        <button class="btn btn-primary mt-3" type="button" style="display: none;"
                            id="crop-btn">Crop</button>
                    </div>
                   
          
<div class="card mt-5 shadow p-3 mb-5 bg-body rounded">
    <div class="row">
  <div class="card-body col-4 ">
   <h6>Category banner one</h6>
<form action="/admin/categorybannerone" method="post" id="categorybannerone" enctype="multipart/form-data">
       <select name="subbannercategoryone" id="">
         <option selected="true" disabled="disabled">{{categoryBannerOne.category}}</option> 
         {{#each categoryData}}
         <option>{{this.category}}</option>
         {{/each}}
     </select><br>
        <label for="">IMAGE 1</label>
                        <img src="" alt="" style="width: 100px; height:auto" id="subbannerimgview1">
                     
                        <input type="file" name="categorybannerimage1" id="subbannerfile1" class="form-control"
                            onchange="return subbannerfileValidation1()">
  
    <button id="confirm-btn" class="btn btn-primary mt-2" type="submit">Submit</button>
</form>
  </div>
  <div class="card-body col-4">
    <h6>Category banner two</h6>

     <form action="/admin/categorybannertwo" method="post" id="categorybannertwo" enctype="multipart/form-data">
       <select name="subbannercategorytwo" id="">
          <option selected="true" disabled="disabled">{{categoryBannerTwo.category}}</option> 
          {{#each categoryData}}
         <option>{{this.category}}</option>
         {{/each}}
     </select><br>

        <label for="">IMAGE 2</label>
                        <img src="" alt="" style="width: 100px; height:auto" id="subbannerimgview2">
                     
                        <input type="file" name="categorybannerimage2" id="subbannerfile2" class="form-control"
                            onchange="return subbannerfileValidation2()">
   
     <button id="confirm-btn" class="btn btn-primary mt-2" type="submit">Submit</button>
</form>

  </div>


   <div class="card-body col-4">
     <h6>Category banner three</h6>


     <form action="/admin/categorybannerthree" method="post" id="categorybannerthree" enctype="multipart/form-data">
       <select name="subbannercategorythree" id="">
          <option selected="true" disabled="disabled">{{categoryBannerThree.category}}</option> 
         {{#each categoryData}}
         <option>{{this.category}}</option>
         {{/each}}
     </select><br>
      <label for="">IMAGE 3</label>
                        <img src="" alt="" style="width: 100px; height:auto" id="subbannerimgview3">
                     
                        <input type="file" name="categorybannerimage3" id="subbannerfile3" class="form-control"
                            onchange="return subbannerfileValidation3()">
  
    <button id="confirm-btn" class="btn btn-primary mt-2" type="submit">Submit</button>
</form>

  </div>
  </div>
</div>


<div class="card shadow p-3 mb-5 bg-body rounded" style="">
  <div class="row">
    <div class="col-6">
  <div class="card-body">
   <P>Category wise products want to show in home page</P>
   <form action="/admin/homepageproductsone" method="post" id="homepageproductsone" enctype="multipart/form-data">
        <select name="category" id="">
          <option selected="true" disabled="disabled">{{homeProductsOne.category}}</option> 
         {{#each categoryData}}
         <option>{{this.category}}</option>
         {{/each}}
     </select><br>
      <label class="mt-2" for="">Product banner image</label><br>
     <input type="file" name="productbanner1image" id="productbanner1image" onchange="return productBannerOneFileValidation()" > <div id="imagePreviewproductBannerOne" class="mt-2"></div><br>
     <button type="submit"  class="btn btn-primary mt-2">submit</button>
   </form>
  </div>
</div>
<div class="col-6">
   <div class="card-body">
   <P>Category wise products want to show in home page</P>
   <form action="/admin/homepageproductstwo" method="post" id="homepageproductstwo" enctype="multipart/form-data">
        <select name="category" id="">
          <option selected="true" disabled="disabled">{{homeProductsTwo.category}}</option>
         {{#each categoryData}}
         <option>{{this.category}}</option>
         {{/each}}
     </select><br>
        <label class="mt-2" for="">Product banner image</label><br>
     <input type="file" name="productbanner2image" id="productbanner2image" onchange="return productBannerTwoFileValidation()" > <div id="imagePreviewproductBannerTwo" class="mt-2"></div><br>
     <button type="submit" class="btn btn-primary mt-2">submit</button>
   </form>
  </div>
  </div>
  </div>
</div>

</div>