
<div class=" me-auto ms-auto p-5" >
<div  class=" me-auto ms-auto p-5  shadow p-3 mb-5 bg-body rounded"  style="width: 40%;background-color:#fff;">
    <form action="/admin/brand-managment" method="post" id="brandvalidationform" enctype="multipart/form-data" >
        <div class="mb-3">
          <label for="" class="form-label">Brand Name</label>
          <input type="text" name="brandName" class="form-control" >
        </div>

             <div class="mb-3">
          <p style="color: red;">{{brandExistError}}</p>
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Brand Description</label><br>
          <textarea name="brandDescription" id="" cols="40" rows="5" class="brandmanagment-textarea"></textarea>
        </div>

         {{!-- <div class="mb-3">
            <label for="" class="form-label">Logo</label><br>
          <input type="file" name="logo">
        </div> --}}


{{!-- crop --}}

       <div class="col-lg-6">
                        <div id="image-box" style="width: 500px; height: 500px; display: none;"></div>
                        <button class="btn btn-primary mt-3" type="button" style="display: none;"
                            id="crop-btn">Crop</button>
                    </div>




<div >
                        <label for="">Logo</label>
                        <img src="" alt="" style="width: 100px; height:auto" id="imgview1">
                     
                        <input type="file" name="logo" id="file1" class="form-control"
                            onchange="return fileValidationbrand()">
                    </div>




     

        <button id="confirm-btn" type="submit" style="width: 50%;margin-left:25%" class="btn btn-primary mt-3">Add Brand</button><br>
      </form>
      </div>
    </div>


<div class="p-4" style="background-color: #fff;border:1px solid rgb(170, 167, 167)">
    <table class="table table-striped" id="brandtable">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Brand</th>
      <th scope="col">Logo</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
     
      
    </tr>
  </thead>
  <tbody>
    {{#each brandData}}
    <tr>
     
     <td>{{@key}}</td>
      <td>{{this.brandName}}</td>
      <td><img style="width:50px;height:50px;" src="/images/brand-images/{{this._id}}.png" alt=""></td>
       <td><a href="/admin/editbrand?id={{this._id}}" class="btn btn-primary">Edit</a></td>
    
     <td><a onclick="deletebrand('{{this._id}}')" href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop" >Delete</a></td>
     
     
     
    </tr>
  {{/each}}
  </tbody>
</table>

</div>

<!-- Modal -->

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Delete user</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body" id="modal-body-id">
            
        
       
      </div>
     
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
         <a href="" id="deletebrand" type="button" class="btn btn-primary">yes</a>
      </div>
    </div>
  </div>
</div>