<div class="container">
  <div class="row">
 <div class="card mt-5 col-lg-6">
        <div class="card-header">
          Add category
        </div>
        <div class="card-body">
          <form action="/admin/add-category" id="addcategory" method="post">
            <label for="">Enter category</label>
            <input type="text" name="category">
          <button type="submit" class="btn btn-primary">Add</button>
          <p style="color: red;">{{categoryExistError}}</p>
          </form>

 <form action="/admin/delete-category" id="deletecategory" method="post">
            <label for="">Delete category</label>
              <select name="category" >
              {{#each categoryData}}
              <option >{{this.category}}</option>
              {{/each}}
            </select>
            <a   class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Delete</a>
          </form>
           


        </div>
      </div>

      <div class="card mt-5 col-lg-6">
        <div class="card-header">
          Add sub category
        </div>
        <div class="card-body">
          <form action="/admin/add-subcategory" id="subcategoryformvalidation" method="post">
            <label for="">Select category</label>
          
            <select name="categorySubcategory" >
              {{#each categoryData}}
              <option >{{this.category}}</option>
             {{/each}}
            </select><br>
            <input type="text" name="subcategory" class="mt-4">
            <button type="submit" class="btn btn-primary ms-4">Add sub category</button>
            <p style="color: red;">{{subcategoryExistError}}</p>
            </form>
        </div>
      </div>


<div class="mt-5">
      <table class="table"  id="categorytable">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Category</th>
             <th scope="col">Subcategory</th> 
             
            
          </tr>
        </thead>
        <tbody>
          {{#each categoryData}}
          <tr>
            <th scope="row">{{@key}}</th>
            <td>{{this.category}}</td>
           
            <td>
              <ul>
                {{#each subcategory}}
                <li>{{this}} <a href="/admin/delete-subcategory?category={{../this.category}}&subcategory={{this}}"><i style="color: red;" class="far fa-trash-alt"></i></a></li>
                 {{/each}}
                </ul>
                </td>
         
          </tr>
          
        
          {{/each}}
        </tbody>
      </table>
  </div>
       </div> 
</div>



<!-- Modal -->

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Delete category</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body" id="modal-body-id">
            
        Are you sure do you want to delete this category
       
      </div>
     
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
         <button onclick="deletecategory()"  id="deletecategory" type="button" class="btn btn-primary">yes</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal  for subcategory delete-->

{{!-- <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Delete product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body" id="modal-body-id">
            
        
       
      </div>
     
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
         <a href="" id="deletesubcategorymodal" type="button" class="btn btn-primary">yes</a>
      </div>
    </div>
  </div>
</div> --}}


