<div class="container">
<h2>Order managment</h2>
<table class="table table-striped" id="ordermangementtable">
  <thead>
    <tr>
      <th scope="col">Order date</th>
      <th scope="col">User Id</th>
      <th scope="col">Ordered address</th>
      <th scope="col">Payment method</th>
   
      <th scope="col">Total Amount</th>
     <th scope="col">view prodcts</th>
      {{!-- <th scope="col">Status</th> --}}
    </tr>
  </thead>
  <tbody>
      {{#each allOrders}}
    <tr>
      <th scope="row">{{this.date}}</th>
      <td>{{this.userId}}</td>
      <td>{{this.deliveryDetails.housename}}</td>
      <td>{{this.paymentmethod}}</td>
     
      <td>{{this.total}}</td>
      <td><a href="/admin/orderproductsview?orderid={{this._id}}" class="btn btn-primary">products</a></td>
      <td>
           

            </td>
    </tr>
   {{/each}}
  </tbody>
</table>
</div>





