
<div class="container p-5">
  



<h4 style="text-align: center;">User report</h4>

<div  class="p-3" style="background-color: #fff;border:1px solid rgb(199, 196, 196)">
<table id="example" class="display nowrap" style="width:100%">
        <thead>
            <tr>
                <th>NAME</th>
                 <th>PHONE NUMBER</th> 
                <th>EMAIL ADDRESS</th>
                <th>ORDERS</th>
                <th>TOTAL PRODUCTS</th>
                <th>SPEND</th>
               
             
            </tr>
        </thead>
        <tbody>


            {{#each allProductdetails}}
           
            <tr>    
                <td>{{this.userdetails.name}}</td>
             <td>{{this.userdetails.phonenumber}}</td>
                <td>{{this.userdetails.emailaddress}}</td>
                <td>{{this.totalOrders}}</td>
                  <td>{{this.productsbuy}}</td>
                <td>{{this.spend}}</td>
              
           
              
            </tr>
         {{/each}}
           
        </tbody>
    
    </table>

</div>


</div>















 
  