<div class="container p-3">
<div class="p-5"  style="background-color: #fff;border:1px solid rgb(199, 196, 196)">



<table class="table table-striped" id="usertable">
  <h1 class="text-center">Users</h1>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone number</th>
      <th scope="col">Status</th>
      <th scope="col">Block</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {{#each allusers}}
      <td>{{this.name}}</td>
      <td>{{this.emailaddress}}</td>
      <td>{{this.phonenumber}}</td>
      {{#if this.blocked}}
      <td>blocked</td>
      {{else}}
      <td>active</td>
      {{/if}}
      {{#if this.blocked}}

     
             <td><a onclick="unblockuser('{{this.phonenumber}}','{{this.name}}')" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Unblock</a></td>
      {{else}}
       <td><a onclick="blockuser('{{this.phonenumber}}','{{this.name}}')" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">block</a></td>
     
      {{/if}}
    </tr>
   {{/each}}
  </tbody>
</table>
</div>




<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Block user</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modal-body-id">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <a href="" id="updateUser" type="button" class="btn btn-primary">yes</a>
      </div>
    </div>
  </div>
  
</div>
</div>