  <div class="row">
  {{#each response}}
<div class="col-6">
<div class="card me-auto ms-auto mb-3" style="width: 100%;">

  <div class="card-body">
     
        
           <div class="row">
          <div class="col-3">

<img style="" src="/images/product-images/{{this.item}}3.png" alt="">
          </div>
          <div class="col-9">
           <p>product id:<span>{{this.item}}</span></p>
           <p>product name:<span>{{this.productdetail.productname}}</span></p>
           <p>product category:<span>{{this.productdetail.category}}</span></p>
           <p>product subcategory:<span>{{this.productdetail.subcategory}}</span></p>
           <p>product brand:<span>{{this.productdetail.brand}}</span></p>
           <p>product Price:<span>{{this.productdetail.price}}</span></p>
          
           <p>product size:<span>{{this.size}}</span></p>
           <p>product quantity:<span>{{this.quantity}}</span></p>
           <p>product subtotal:<span>{{this.subtotal}}</span></p>
           <p>product status:<span>{{this.status}}</span></p>

           
        
          </div>
          </div>
 
    
    
  </div>
  </div>
  </div>
           {{/each}}
  </div>