  <div class="row">
  {{#each response}}
<div class="col-6">
<div class="card me-auto ms-auto mb-3" style="width: 100%;">

  <div class="card-body">
     
        
           <div class="row">
          <div class="col-3">

<img style="" src="/images/product-images/{{this.item}}3.png" alt="">
          </div>
          <div class="col-9">
           <p>product id:<span>{{this.item}}</span></p>
           <p>product name:<span>{{this.productdetail.productname}}</span></p>
           <p>product category:<span>{{this.productdetail.category}}</span></p>
           <p>product subcategory:<span>{{this.productdetail.subcategory}}</span></p>
           <p>product brand:<span>{{this.productdetail.brand}}</span></p>
           <p>product Price:<span>{{this.productdetail.price}}</span></p>
          
           <p>product size:<span>{{this.size}}</span></p>
           <p>product quantity:<span>{{this.quantity}}</span></p>
           <p>product subtotal:<span>{{this.subtotal}}</span></p>
           <p>product status:<span id="{{this.item}}{{this.size}}sp">{{this.status}}</span></p>
            <p>orderid:<span >{{this._id}}</span></p>

            <div class="dropdown" id="{{this.item}}{{this.size}}drop">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="{{this.item}}{{this.size}}" data-bs-toggle="dropdown" aria-expanded="false">
   {{this.status}}
  </button>
  {{#if this.canceled}}
   


  {{else}}
    

    {{#if this.delivered}}

    {{else}}
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><button class="dropdown-item" onclick="orderstatus('{{this._id}}','placed','{{this.item}}','{{this.size}}')">Placed</button></li>
    <li><button class="dropdown-item" onclick="orderstatus('{{this._id}}','pending','{{this.item}}','{{this.size}}')">Pending</button></li>
    <li><button class="dropdown-item" onclick="orderstatus('{{this._id}}','delivered','{{this.item}}','{{this.size}}')">delivered</button></li>
    <li><button class="dropdown-item"onclick="orderstatus('{{this._id}}','canceled','{{this.item}}','{{this.size}}')">Cancel</button></li>
  </ul>

    {{/if}}



  {{/if}}
  

</div> 
        
          </div>
          </div>
 
    
    
  </div>
  </div>
  </div>
           {{/each}}
  </div>