
<div class="container">
  <a href="/admin/add-product" class="btn btn-primary mt-4">Add product</a>
            <h2 class="mt-5">PRODUCT DETAILS</h2>
     <table class="table table-striped mt-5" id="producttable">
        <thead>
          <tr>
            <th class="tableheaderfontsize" scope="col">product Id</th>
            <th class="tableheaderfontsize" scope="col">Name</th>
            <th class="tableheaderfontsize" scope="col">Brand</th>
            <th class="tableheaderfontsize" scope="col">Category</th>
            <th class="tableheaderfontsize" scope="col">sub category</th>
            <th class="tableheaderfontsize" scope="col">Price</th>

              {{!-- <th class="tableheaderfontsize" scope="col">Small Quantity</th>
            <th class="tableheaderfontsize" scope="col">Medium Quantity</th>
            <th class="tableheaderfontsize" scope="col">Large Quantity</th>   --}}
          
             <th class="tableheaderfontsize" scope="col">Images</th> 
             <th class="tableheaderfontsize" scope="col">Edit</th> 
             <th class="tableheaderfontsize" scope="col">Delete</th> 
            
            
          </tr>
        </thead>
        <tbody>
          {{#each products}}
          <tr>
          
            
            <td class="tabledatafontsize">{{this.productid}}</td>
            <td class="tabledatafontsize">{{this.productname}}</td>
            <td class="tabledatafontsize">{{this.brand}}</td>
            <td class="tabledatafontsize">{{this.category}}</td>
            <td class="tabledatafontsize">{{this.subcategory}}</td>
            <td class="tabledatafontsize">{{this.price}}</td>
        
               {{!-- <td class="tabledatafontsize">{{this.smallquantity}}</td>
            <td class="tabledatafontsize">{{this.mediumquantity}}</td>
            <td class="tabledatafontsize">{{this.largequantity}}</td>   --}}
         
             <td><img style="width:50px;height:50px;" src="/images/product-images/{{this._id}}1.png" alt=""></td> 
            
            <td><a href="/admin/edit-product?id={{this._id}}" class="btn btn-primary">Edit</a></td>
            <td><a onclick="deleteproducts('{{this._id}}','{{this.productname}}')" class="btn btn-danger"  data-bs-toggle="modal" data-bs-target="#staticBackdrop">Delete</a></td>
          
          
          </tr>
            {{/each}}
        </tbody> 
      </table>
   </div>




<!-- Modal -->

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Delete product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body" id="modal-body-id">
            
        
       
      </div>
     
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
         <a href="" id="deleteproductmodal" type="button" class="btn btn-primary">yes</a>
      </div>
    </div>
  </div>
</div>


