  <div class="container p-3">
  <div class="row">
  {{#each response}}
<div class="col-5 shadow p-3 mb-5 bg-body rounded ms-5">

     
        
           <div class="row">
          <div class="col-3">

<img style="" src="/images/product-images/{{this.item}}1.png" alt="">
          </div>
          <div class="col-9">
      
           <p><b>product name:</b>   <span>{{this.productdetail.productname}}</span></p>
           <p><b>product category:</b>   <span>{{this.productdetail.category}}</span></p>
           <p><b>product subcategory:</b>    <span>{{this.productdetail.subcategory}}</span></p>
           <p><b>product brand:</b>    <span>{{this.productdetail.brand}}</span></p>
           <p><b>product Price:</b>    <span>{{this.productdetail.price}}</span></p>
          
           <p><b>product size:</b>    <span>{{this.size}}</span></p>
           <p><b>product quantity:</b>    <span>{{this.quantity}}</span></p>
           <p><b>product subtotal:</b>   <span>{{this.subtotal}}</span></p>
           <p><b>product status:</b>    <span id="{{this.item}}{{this.size}}sp">{{this.status}}</span></p>
           

            <div class="dropdown" id="{{this.item}}{{this.size}}drop">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="{{this.item}}{{this.size}}" data-bs-toggle="dropdown" aria-expanded="false">
   {{this.status}}
  </button>
  {{#if this.canceled}}
   


  {{else}}
    

    {{#if this.delivered}}

    {{else}}
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><button class="dropdown-item" onclick="orderstatus('{{this._id}}','placed','{{this.item}}','{{this.size}}')">Placed</button></li>
    <li><button class="dropdown-item" onclick="orderstatus('{{this._id}}','pending','{{this.item}}','{{this.size}}')">Pending</button></li>
    <li><button class="dropdown-item" onclick="orderstatus('{{this._id}}','delivered','{{this.item}}','{{this.size}}')">delivered</button></li>
    <li><button class="dropdown-item"onclick="orderstatus('{{this._id}}','canceled','{{this.item}}','{{this.size}}')">Cancel</button></li>
  </ul>

    {{/if}}



  {{/if}}
  

</div> 
        
          </div>
          </div>
 
    
    
  
  </div>
           {{/each}}
  </div>

  </div>