  <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text product-more">
                        <a href="/"><i class="fa fa-home"></i> Home</a>
                        <a href="/">Shop</a>
                        <span>Check Out</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->

    <!-- Shopping Cart Section Begin -->
    <section class="checkout-section spad">
        <div class="container">
            <form action="#" class="checkout-form">
                <div class="row">
                    <div class="col-lg-7">


                                    
                     <button class="btn ml-3 text-primary" style="float: right;border:1px solid #bbb3b3" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalLoginForm">Add new</button>
<h5 class="mb-2">DEFAULT ADDRESS</h5>
                                <div class="card">
  <div class="card-body">
   
 <h5 >{{defaultaddress.name}}</h5>
 <p class="mt-3" ><span>{{defaultaddress.housename}} </span><span>{{defaultaddress.street}} </span><span>{{defaultaddress.district}} </span> <span>{{defaultaddress.state}}</span></p>
 <p>pincode: {{defaultaddress.pincode}}</p>
 <p>mobile number: <span  style="font-size: 1.1rem;color:black">{{defaultaddress.mobilenumber}}</span></p>
  </div>
                                </div>


<h5 class="mb-2 mt-2">OTHER ADDRESS</h5>
{{#each otheraddress}}
    <div class="card">
  <div class="card-body">
   
 <h5 >{{this.address.name}}</h5>
 <p class="mt-3" ><span>{{this.address.housename}} </span><span>{{this.address.street}} </span><span>{{this.address.district}} </span> <span>{{this.address.state}}</span></p>
 <p>pincode: {{this.address.pincode}}</p>
 <p>mobile number: <span  style="font-size: 1.1rem;color:black">{{this.address.mobilenumber}}</span></p>
  </div>
                                </div>
                                {{/each}}
                        {{!-- <div class="checkout-content">
                            <a href="#" class="content-btn">Click Here To Login</a>
                        </div> --}}
          

                                {{!-- <label for="fir">First Name<span>*</span></label>
                                <input type="text" id="fir">
                            </div>
                            <div class="col-lg-6">
                                <label for="last">Last Name<span>*</span></label>
                                <input type="text" id="last">
                            </div>
                            <div class="col-lg-12">
                                <label for="cun-name">Company Name</label>
                                <input type="text" id="cun-name">
                            </div>
                            <div class="col-lg-12">
                                <label for="cun">Country<span>*</span></label>
                                <input type="text" id="cun">
                            </div>
                            <div class="col-lg-12">
                                <label for="street">Street Address<span>*</span></label>
                                <input type="text" id="street" class="street-first">
                                <input type="text">
                            </div>
                            <div class="col-lg-12">
                                <label for="zip">Postcode / ZIP (optional)</label>
                                <input type="text" id="zip">
                            </div>
                            <div class="col-lg-12">
                                <label for="town">Town / City<span>*</span></label>
                                <input type="text" id="town">
                            </div>
                            <div class="col-lg-6">
                                <label for="email">Email Address<span>*</span></label>
                                <input type="text" id="email">
                            </div>
                            <div class="col-lg-6">
                                <label for="phone">Phone<span>*</span></label>
                                <input type="text" id="phone">
                            </div>
                            <div class="col-lg-12">
                                <div class="create-item">
                                    <label for="acc-create">
                                        Create an account?
                                        <input type="checkbox" id="acc-create">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </div> --}}
                    </div>
                    <div class="col-lg-4">
                        {{!-- <div class="checkout-content">
                            <input type="text" placeholder="Enter Your Coupon Code">
                        </div> --}}
                        <div class="place-order">
                        
                            <div class="order-total">
                                <ul class="order-table">
                                    <li>Product <span>Total</span></li>
                                    <li class="fw-normal">Combination x 1 <span>$60.00</span></li>
                                    <li class="fw-normal">Combination x 1 <span>$60.00</span></li>
                                    <li class="fw-normal">Combination x 1 <span>$120.00</span></li>
                                    <li class="fw-normal">Subtotal <span>$240.00</span></li>
                                    <li class="total-price">Total <span>$240.00</span></li>
                                </ul>
                                <div class="payment-check">
                                    <div class="pc-item">
                                        <label for="pc-check">
                                            Cheque Payment
                                            <input type="checkbox" id="pc-check">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="pc-item">
                                        <label for="pc-paypal">
                                            Paypal
                                            <input type="checkbox" id="pc-paypal">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="order-btn">
                                    <button type="submit" class="site-btn place-btn">Place Order</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- Shopping Cart Section End -->



{{!-- modal --}}
<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Add New Address</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
          <form action="/addaddress" method="post">   
        <div class="md-form mb-4">
          
          <input type="text" placeholder="name" id="defaultForm-email" name="name" value="" class="form-control validate">
         
        </div>

        <div class="md-form mb-4">
        
          <input type="text" placeholder="house name" id="defaultForm-pass"  name="housename" value="" class="form-control validate">
       
        </div>

         <div class="md-form mb-4">
        
          <input type="text" placeholder="street" id="defaultForm-pass" name="street" value="" class="form-control validate">
       
        </div>
         <div class="md-form mb-4">
        
          <input type="text" placeholder="district" id="defaultForm-pass" name="district" value="" class="form-control validate">
       
        </div>

         <div class="md-form mb-4">
        
          <input type="text" placeholder="state" id="defaultForm-pass" name="state" value="" class="form-control validate">
       
        </div>

         <div class="md-form mb-4">
        
          <input type="text" placeholder="pincode" id="defaultForm-pass" name="pincode" value="" class="form-control validate">
       
        </div>
 
         <div class="md-form mb-4">
        
          <input type="text" placeholder="mobile number" id="defaultForm-pass" name="mobilenumber" value="" class="form-control validate">
     
        </div>
       
<input type="checkbox" style="display:inline-block" name="defaultaddress"> <p style="display:inline-block">Default Address</p>
     
    
      
      <div class="modal-footer d-flex justify-content-center">
         
        <button type="submit" class="btn btn-default" style="width: 100%; background-color:#e7ab3c">Add Address</button>
        
      </div>
        </form>
   </div>
    </div>
    
  </div>
</div>

