

   

    <!-- Product Shop Section Begin -->
    <section class="product-shop spad" style="padding-top:1px">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-6 col-sm-8 order-2 order-lg-1 produts-sidebar-filter" >
                   
  

  <div class="filter-widget">
      {{#if search}}
      {{else}}
             <h4 class="fw-title">Subcategories</h4>
             {{/if}}
                       
                        <div class="fw-brand-check">
                            {{#each allsubcategories}}
                            <div class="bc-item">
                                <label for="bc-calvin{{this.subcategory}}">
                                    {{this.subcategory}}
                                <input type="checkbox" onclick="subcategoryFilter('{{this.subcategory}}','{{category}}')" id="bc-calvin{{this.subcategory}}">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                           {{/each}}
                         
                            
                            <hr>
                        </div>
                    </div>




                    <div class="filter-widget">
                     {{#if search}}
 {{else}}
                        <h4 class="fw-title">Brand</h4>
                {{/if}}
                        <div class="fw-brand-check">
                           
 {{#if search}}
 {{else}}
                           
                            {{#each allBrands}}
                            <div class="bc-item">
                                <label for="bc-calvin{{this.brandName}}">
                                    {{this.brandName}}
                                    <input type="checkbox" onclick="brandFilter('{{this.brandName}}','{{categoryname}}')" id="bc-calvin{{this.brandName}}">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                           {{/each}}
                        {{/if}}
                           
                        </div>
                    </div>
                 
                </div>
                <div class="col-lg-10 order-1 order-lg-2">
                
                    
                    <div class="product-list">
                        <div class="row">
                            {{#each products}}
                            <div class="col-lg-3 col-sm-6">
                                <div class="product-item">
                                    <div class="pi-pic">
                                   <a href="/product?productid={{this.productid}}"><img  src="/images/product-images/{{this._id}}1.png" alt=""></a>     
                                        {{#if offer}}
                                         <div style="background-color:#e7ab3c" class="sale pp-sale">{{this.offerpercentage}} %off</div>
                                         {{/if}}
                                        {{!-- <div class="icon">
                                            <i class="icon_heart_alt"></i>
                                        </div> --}}
                                        <ul>
                                           
                                            <li class="quick-view" style="width:100%;cursor: pointer;"><a onclick="addToWishList('{{this._id}}')" style="color:#e7ab3c;border:1px solid #e7ab3c"><i class="far fa-heart mr-2" ></i>WISH LIST</a></li>
                                        
                                        </ul>
                                    </div>
                                    <div class="pi-text">
                                        <div class="catagory-name">{{this.brand}}</div>
                                        <a href="#">
                                            <h5>{{this.productname}}</h5>
                                        </a>
                                        <div class="product-price">
                                           <i class="fas fa-rupee-sign"></i> {{this.price}}
                                           {{#if this.offer}}
                                             <span>{{this.landingprice}}</span>
                                             {{/if}} 
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                            {{/each}}
                           
                        </div>
                    </div>

                    
                 
                </div>
            </div>
        </div>
    </section>
    <!-- Product Shop Section End -->

  
   
    <!-- Partner Logo Section End -->

       <script src="javascripts/users/jquery-3.3.1.min.js"></script>



    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>

 function addToWishList(productId){

    $.ajax({
        url:'/addtowishlist',
        data:{
            productId,
          
        },
        method:'post',
        success:(response)=>{
    if(response.sessionrequired){
        location.href = '/userlogin' 
    }
    else if(response.exist){
        const Toast = Swal.mixin({
  toast: true,
  position: 'top-end',
  showConfirmButton: false,
  timer: 1800,
  timerProgressBar: true,
  didOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})

Toast.fire({
  icon: 'warning',
  title: 'Item is removed from wishlist'
})
    }else{
        const Toast = Swal.mixin({
  toast: true,
  position: 'top-end',
  showConfirmButton: false,
  timer: 1800,
  timerProgressBar: true,
  didOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})

Toast.fire({
  icon: 'success',
  title: 'Item added to wishlist'
})
    }

        }
    })
    
     }


</script>
  





   