

    <!-- Hero Section Begin -->
    <section class="hero-section">
        <div class="hero-items owl-carousel">
            <div class="single-hero-items set-bg" data-setbg="images/banner-images/{{bannerOne._id}}.png">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                           
                        

                            <h1 style="color: #fff;">{{bannerOne.bannerOneHeading}}</h1>
                            <p style="color: #ffff;">{{bannerOne.bannerOneDescription}}</p>
                            <a href="/shopcategory?categoryname={{bannerOne.category}}" class="primary-btn">Shop Now</a>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="single-hero-items set-bg" data-setbg="/images/banner-images/{{bannerTwo._id}}.png">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            
                            <h1 style="color: #fff;">{{bannerTwo.bannerTwoHeading}}</h1>
                            <p style="color:#fff;">{{bannerTwo.bannerTwoDescription}}</p>
                            <a href="/shopcategory?categoryname={{bannerTwo.category}}" class="primary-btn">Shop Now</a>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Banner Section Begin -->
    <div class="banner-section spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                 
                    <div class="single-banner">
                        <img style="height:16rem;" src="/images/banner-images/{{categorybannerOne._id}}.png" alt="">
                        <div class="inner-text">
                              <a href="/shopcategory?categoryname={{categorybannerOne.category}}" style="cursor: pointer;"><h4>{{categorybannerOne.category}}</h4></a> 
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-banner">
                        <img style="height:16rem;" src="/images/banner-images/{{categorybannerTwo._id}}.png" alt="">
                        <div class="inner-text">
                            <a href="/shopcategory?categoryname={{categorybannerTwo.category}}" style="cursor: pointer;"><h4>{{categorybannerTwo.category}}</h4></a> 
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-banner">
                        <img style="height:16rem;" src="/images/banner-images/{{categorybannerThree._id}}.png" alt="">
                        <div class="inner-text">
                            <a href="/shopcategory?categoryname={{categorybannerThree.category}}" style="cursor: pointer;"><h4>{{categorybannerThree.category}}</h4></a> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Section End -->

    <!-- Women Banner Section Begin -->
     <section class="women-banner spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="product-large set-bg" data-setbg="/images/banner-images/{{productOneForHomecategory._id}}.png">
                        <h2 >Sports {{productOneForHomecategory.category}}</h2>
                        <a  href="/shopcategory?categoryname={{productOneForHomecategory.category}}">Discover More</a>
                    </div>
                </div>
                <div class="col-lg-8 offset-lg-1">
                    <div class="filter-control">
                        <ul>
                            <li class="active">Sports {{productOneForHomecategory.category}}</li>
                           
                        </ul>
                    </div>
                    <div class="product-slider owl-carousel">
                        {{#each productOneForHomecategoryProducts}}
                        <div class="product-item">
                            <div class="pi-pic">
                              <a href="/product?productid={{this.productid}}"><img src="/images/product-images/{{this._id}}1.png" alt=""></a>  
                                {{#if offer}}
                                         <div style="background-color:#e7ab3c;font-size:0.8rem" class="sale pp-sale">{{this.offerpercentage}} %off</div>
                                         {{/if}}
                                <div class="icon">
                                    <i class="icon_heart_alt"></i>
                                </div>
                                <ul>
                                
                                    <li class="quick-view" style="width:100%;cursor: pointer;"><a onclick="addToWishList('{{this._id}}')" style="color:#e7ab3c;border:1px solid #e7ab3c"><i class="far fa-heart mr-2" ></i>WISH LIST</a></li>
                                   
                                </ul>
                            </div>
                            <div class="pi-text">
                                <div class="catagory-name">{{this.brand}}</div>
                                <a href="#">
                                    <h5>{{this.productname}}</h5>
                                </a>
                                <div class="product-price">
                                    {{this.price}}
                                     {{#if this.offer}}
                                    <span>{{this.landingprice}}</span>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                        {{/each}}
                       
                    </div>
                </div>
            </div>
        </div>
    </section> 
    <!-- Women Banner Section End -->

  

    <!-- Man Banner Section Begin -->
     <section class="man-banner spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="filter-control">
                        <ul>
                            <li class="active">Sports {{productTwoForHomecategory.category}} </li>
                          
                        </ul>
                    </div>
                    <div class="product-slider owl-carousel">
                          {{#each productTwoForHomecategoryProducts}}
                        <div class="product-item">
                            <div class="pi-pic">
                             <a href="/product?productid={{this.productid}}"><img src="/images/product-images/{{this._id}}1.png" alt=""></a>   
                                {{#if offer}}
                                         <div style="background-color:#e7ab3c" class="sale pp-sale">{{this.offerpercentage}} %off</div>
                                         {{/if}}
                                <div class="icon">
                                    <i class="icon_heart_alt"></i>
                                </div>
                                <ul>
                                
                                    <li class="quick-view" style="width:100%;cursor: pointer;"><a onclick="addToWishList('{{this._id}}')" style="color:#e7ab3c;border:1px solid #e7ab3c"><i class="far fa-heart mr-2" ></i>WISH LIST</a></li>
                              
                                </ul>
                            </div>
                            <div class="pi-text">
                                <div class="catagory-name">{{this.brand}}</div>
                                <a href="#">
                                    <h5>{{this.productname}}</h5>
                                </a>
                                <div class="product-price">
                                    {{this.price}}
                                      {{#if this.offer}}
                                    <span>{{this.landingprice}}</span>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                        {{/each}}
                     
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1">
                    <div class="product-large set-bg m-large" data-setbg="images/banner-images/{{productTwoForHomecategory._id}}.png">
                        <h2>Sports {{productTwoForHomecategory.category}}</h2>
                        <a href="/shopcategory?categoryname={{productTwoForHomecategory.category}}">Discover More</a>
                    </div>
                </div>
            </div>
        </div>
    </section> 
    <!-- Man Banner Section End -->

    <!-- Instagram Section Begin -->
   
            <section>
                 <div class="container">
             <div class="benefit-items">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="single-benefit">
                            <div class="sb-icon">
                                <img src="images/users/icon-1.png" alt="">
                            </div>
                            <div class="sb-text">
                                <h6>Free Shipping</h6>
                                <p>For all orders</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-benefit">
                            <div class="sb-icon">
                                <img src="images/users/icon-2.png" alt="">
                            </div>
                            <div class="sb-text">
                                <h6>Delivery On Time</h6>
                                <p>If good have prolems</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-benefit">
                            <div class="sb-icon">
                                <img src="images/users/icon-1.png" alt="">
                            </div>
                            <div class="sb-text">
                                <h6>Secure Payment</h6>
                                <p>100% secure payment</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 
    <!-- Latest Blog Section End -->




          <script src="javascripts/users/jquery-3.3.1.min.js"></script>



    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>

 function addToWishList(productId){

    $.ajax({
        url:'/addtowishlist',
        data:{
            productId,
          
        },
        method:'post',
        success:(response)=>{
    if(response.sessionrequired){
        location.href = '/userlogin' 
    }
    else if(response.exist){
        const Toast = Swal.mixin({
  toast: true,
  position: 'top-end',
  showConfirmButton: false,
  timer: 1800,
  timerProgressBar: true,
  didOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})

Toast.fire({
  icon: 'warning',
  title: 'Item is removed from wishlist'
})
    }else{
        const Toast = Swal.mixin({
  toast: true,
  position: 'top-end',
  showConfirmButton: false,
  timer: 1800,
  timerProgressBar: true,
  didOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})

Toast.fire({
  icon: 'success',
  title: 'Item added to wishlist'
})
    }

        }
    })
    
     }


</script>
  


