<!-- Breadcrumb Section Begin -->
 
    <!-- Breadcrumb Section Begin -->

    <!-- Product Shop Section Begin -->
    <section class="product-shop spad page-details">
        <div class="container">
            <div class="row">
              
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="product-pic-zoom">
                                <img class="product-big-img" src="/images/product-images/{{response._id}}1.png" alt="">
                                <div class="zoom-icon">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </div>
                            <div class="product-thumbs">
                                <div class="product-thumbs-track ps-slider owl-carousel">
                                    <div class="pt active" data-imgbigurl="/images/product-images/{{response._id}}1.png"><img
                                            src="/images/product-images/{{response._id}}1.png" alt=""></div>
                                    <div class="pt" data-imgbigurl="/images/product-images/{{response._id}}2.png"><img
                                            src="/images/product-images/{{response._id}}2.png" alt=""></div>
                                    <div class="pt" data-imgbigurl="/images/product-images/{{response._id}}3.png"><img
                                            src="/images/product-images/{{response._id}}3.png" alt=""></div>
                                     <div class="pt" data-imgbigurl="/images/product-images/{{response._id}}4.png"><img
                                            src="/images/product-images/{{response._id}}4.png" alt=""></div> 
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="product-details ml-5">
                                <div class="pd-title">
                                    <span>{{response.brand}}</span>
                                    <h2>{{response.productname}}</h2>
                                    {{!-- <a href="#" class="heart-icon"><i class="icon_heart_alt"></i></a> --}}
                                </div>
                               
                                <div class="pd-desc">
                                    <p>{{response.description}}</p>
                                   {{#if response.offer}}
                                    <h4>{{response.price}} <span>{{response.landingprice}}</span></h4>
                                    {{else}}
   <h4>{{response.price}} </h4>

                                    {{/if}}
                                </div>
                                {{#if response.offer}}
                                <div style="margin:0">
                                   <p class="text-danger">({{response.offerpercentage}}<span> % off)</span></p>
                                </div>
                                {{/if}}
                              
                                <div class="pd-size-choose">
                                    <p style="color:red" class="selectsize" id="selectsize">please select a size</p>
                                    <p style="color:red" class="selectsize" id="outofstock">Out of stock</p>
      
                              

                                    {{#if quantity.smalloutofstock}}      
                                     <div class="sc-item">
                                         
                                         <input type="radio" onclick="outofstock()"  id="sm-size"> 
                                        <label for="sm-size"  style="color: grey;">s</label>
                                    </div>
                                    {{else}}
                                   <div class="sc-item">
                                        <input type="radio" onclick="checksize('s')" id="sm-size">
                                        <label for="sm-size">s</label>
                                    </div>
                                    {{/if}}


                                 
                                     {{#if quantity.mediumoutofstock}}      
                                    <div class="sc-item">
                                        <input type="radio" onclick="outofstock()" id="md-size">
                                        <label for="md-size" style="color: rgb(182, 179, 179);">m</label>
                                    </div>
                                    {{else}}
                                     <div class="sc-item">
                                        <input type="radio" onclick="checksize('m')" id="md-size">
                                        <label for="md-size">m</label>
                                    </div>
                                    {{/if}}

                                
                                  

                                    
                                  
                                 
                                   {{#if quantity.largeoutofstock}}      
                                   <div class="sc-item">
                                        <input type="radio" onclick="outofstock()" id="lg-size">
                                        <label for="lg-size" style="color: rgb(182, 179, 179);">l</label>
                                    </div>
                                    {{else}}
                                   <div class="sc-item">
                                        <input type="radio" onclick="checksize('l')" id="lg-size">
                                        <label for="lg-size">l</label>
                                    </div>
                                    {{/if}}




                                  





                                    
                                </div>
                               
                                 <p class="text-danger selectsize" style="font-size: 1.1rem;" id="existincart">Product already exist in cart</p>
                                <p class="text-success selectsize" style="font-size: 1.1rem;" id="addedcart">Added to cart</p>

                                 <button style="border: none;" onclick="addtocartproduct('{{response._id}}','{{response.price}}')" class="primary-btn pd-cart mb-4"><i class="fas fa-shopping-cart mr-3"></i>Add To Cart</button>
                                 <button style="border: none;width:190px;" onclick="buynowproduct('{{response._id}}','{{response.price}}')"  class="primary-btn pd-cart mb-3"><i class="fas fa-fire mr-3"></i>Buy Now</button>

                                
                                <ul class="pd-tags">
                                    <li><span>CATEGORY:</span>{{response.category}}<li>
                                    <li><span>SUBCATEGORY:</span>{{response.subcategory}}</li>
                                </ul>
                                {{!-- <div class="pd-share">
                               
                                    <div class="pd-social">
                                        <a href="#"><i class="ti-facebook"></i></a>
                                        <a href="#"><i class="ti-twitter-alt"></i></a>
                                        <a href="#"><i class="ti-linkedin"></i></a>
                                    </div>
                                </div> --}}
                            </div>
                        </div>
                    </div>
                  
                </div>
            </div>
        </div>
    </section>
   

    <script src="javascripts/users/jquery-3.3.1.min.js"></script>



    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>

var sizeOfProduct;
function checksize(size){ 
    
    document.getElementById('selectsize').classList.add('selectsize');
    document.getElementById('outofstock').classList.add('selectsize');
     sizeOfProduct = size;

}

function addtocartproduct(productid,productprice){
 let cartcounts =  document.getElementById('cartcountvalue').innerHTML;


    document.getElementById('selectsize').classList.add('selectsize');
if(sizeOfProduct){

    $.ajax({
        
        url:'/addtocartproduct?productid='+productid+'&size='+sizeOfProduct+'&subtotal='+productprice,
        method:'get',
         success:(response)=>{
          
             if(response.sessionrequired){
                 window.location.replace("/userlogin");
            }
             else if(response.added){
                 cartcounts = Number(cartcounts);
                document.getElementById('cartcountvalue').innerHTML = cartcounts+1;
              

const Toast = Swal.mixin({
  toast: true,
  position: 'top-end',
  showConfirmButton: false,
  timer: 1800,
  timerProgressBar: true,
  didOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})

Toast.fire({
  icon: 'success',
  title: 'Added to cart succesfully'
})

                
                  
               
                 
              
             }
             else if(response.exist){
            

const Toast = Swal.mixin({
  toast: true,
  position: 'top-end',
  showConfirmButton: false,
  timer: 1800,
  timerProgressBar: true,
  didOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})

Toast.fire({
  icon: 'warning',
  title: 'Product already exist in cart'
})


             }
     
         }
    })



}else{
    document.getElementById('selectsize').classList.remove('selectsize');
}

}






function buynowproduct(productid,productprice){
  
     document.getElementById('selectsize').classList.add('selectsize');
    
    if(sizeOfProduct){
        $.ajax({
            url:'/addToBuyNowProduct?productid='+productid+'&size='+sizeOfProduct+'&subtotal='+productprice,
        method:'get',
            success:(response)=>{
    
   if(response.sessionrequired){
                 window.location.replace("/userlogin");
            }

             else if(response.ok){

window.location.href = '/buynowcheckout';

            }
            }
        })
    }
    
    
    
    
    
    else{
         document.getElementById('selectsize').classList.remove('selectsize');
    }
    
    
    
    }  



 $(document).on("click",function() {
        document.getElementById('searchResults').innerHTML = "";
      });
    </script>