 
 <style>
   html,
body {
	height: 100%;
	font-family: "Muli", sans-serif;
	-webkit-font-smoothing: antialiased;
	/* font-smoothing: antialiased; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #111111;
	font-weight: 400;
	font-family: "Muli", sans-serif;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 34px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 16px;
	font-family: "Muli", sans-serif;
	color: #636363;
	font-weight: 400;
	line-height: 26px;
	margin: 0 0 15px 0;
}



input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: #fff;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

.title {
    margin-bottom: 5vh
}

.card {
    margin: auto;
    max-width: 1050px;
    width: 90%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent
}

@media(max-width:767px) {
    .card {
        margin: 3vh auto
    },
  
}

.cart {
    background-color: #fff;
    padding: 4vh 5vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem
}

@media(max-width:767px) {
    .cart {
        padding: 4vh;
        border-bottom-left-radius: unset;
        border-top-right-radius: 1rem
    }
}


@media(max-width:767px) {
  h4 {
	font-size: 15px;
},

}

@media(max-width:767px) {
p {
	font-size: 10px;
},

}

@media(max-width:767px) {

}

.summary {
    background-color: rgb(248, 245, 245);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 4vh;
    color: rgb(65, 65, 65)
}

@media(max-width:767px) {
    .summary {
        border-top-right-radius: unset;
        border-bottom-left-radius: 1rem
    }
}

.summary .col-2 {
    padding: 0
}

.summary .col-10 {
    padding: 0
}

.row {
    margin: 0
}

.title b {
    font-size: 1.5rem
}

.main {
    margin: 0;
    padding: 2vh 0;
    width: 100%
}

.col-2,
.col {
    padding: 0 1vh
}

a {
    padding: 0 1vh
}

.close {
    margin-left: auto;
    font-size: 0.7rem
}

img {
    width: 3.5rem
}

.back-to-shop {
    margin-top: 4.5rem
}



hr {
    margin-top: 1.25rem
}

form {
    padding: 2vh 0
}

select {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1.5vh 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247)
}

input {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247)
}

input:focus::-webkit-input-placeholder {
    color: transparent
}

.btn {
    background-color: #000;
    border-color: #000;
    color: white;
    width: 100%;
    font-size: 0.7rem;
    margin-top: 4vh;
    padding: 1vh;
    border-radius: 0
}

.btn:focus {
    box-shadow: none;
    outline: none;
    box-shadow: none;
    color: white;
    -webkit-box-shadow: none;
    -webkit-user-select: none;
    transition: none
}

.btn:hover {
    color: white
}

a {
    color: black
}

a:hover {
    color: black;
    text-decoration: none
}

#code {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center
}
 </style>


 <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text product-more">
                        {{!-- <a href="/"><i class="fa fa-home"></i> Home</a>
                        <a href="/">Shop</a>
                        <span>Check Out</span> --}}
                                         {{!-- <div class="logo" style="float:right"> --}}
                          
                                 {{!-- <img src="images/users/logo.png" alt="">  --}}
                               <a href="/"><h4 style="color:#e7ab3c;">Sportshub</h4></a> 
                           
                        {{!-- </div> --}}
                    </div>
    
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->
 {{#if cartItemsEmpty}}
 <section class="shopping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                   
<div class="card cartempty" style="border: none;">
  <div class="card-body">
<img src="/images/users/cartempty1.png"  style="width:50%" alt="">
<h4 class="mt-5 feels">Hey,it feels so light!</h4>
<p>There is nothing in your bag.Let's add some items</p>
<a href="/" class="btn mt-3 addbutton" style="border: 1px solid #e7ab3c;background-color:#fff;color:#000000;width:40%"  href="">ADD ITEMS FROM SHOP</a>
  </div>
</div>
    </div>
            </div>
        </div>
    </section>
                    {{else}}







 
 <div class="card mt-5">
        <div class="row">
       
            <div class="col-md-8 cart">
                <div class="title">
                    <div class="row">
                        <div class="col">
                            <h4><b>Shopping Cart</b></h4>
                        </div>
                        {{!-- <div class="col align-self-center text-right text-muted">3 items</div> --}}
                    </div>
                </div>
                  {{#each cartItems}}
                 <div class="row " id="{{this.productdetails._id}}{{this.size}}remove">
                    <div class="row main align-items-center border-top">
                        <div class="col-2"><img class="img-fluid" src="/images/product-images/{{this.productdetails._id}}1.png"></div>
                        <div class="col">
                            <div class="row text-muted">{{this.productdetails.brand}}</div>
                            <div class="row">{{this.productdetails.productname}}</div>
                            <div style="color: #e7ab3c;" class="row">{{this.productdetails.price}}</div>
                               <div class="row" style="font-size: 1.2rem;">size:<span style="color: #524e4e;">{{this.size}}</span> </div>
                        </div>
                        <div class="col "> <button class="mone" id="{{this.productdetails._id}}{{this.size}}-" onclick="changeQuantity('{{this._id}}','{{this.productdetails._id}}','{{this.size}}',-1,'{{../user._id}}',{{this.productdetails.price}})">-</button>
                        <span id="{{this.productdetails._id}}{{this.size}}" >{{this.quantity}}</span>
                        <button class="mone" id="{{this.productdetails._id}}{{this.size}}+" onclick="changeQuantity('{{this._id}}','{{this.productdetails._id}}','{{this.size}}',1,'{{../user._id}}',{{this.productdetails.price}})">+</button> </div>
                        <div class="col"> <span id="{{this.productdetails._id}}{{this.size}}subtotal">{{this.subtotal}}</span>
                           <span class="close" style="cursor: pointer;color:red;" onclick="deletecartproduct('{{this.productdetails._id}}','{{this._id}}','{{this.size}}','{{this.productdetails.productname}}')"><i class="fas fa-times fa-2x"></i></span> 
                          </div>
                    </div>
                </div> 
                {{/each}}
                {{!-- <div class="row">
                    <div class="row main align-items-center border-top">
                        <div class="col-2"><img class="img-fluid" src="1puma.jpg"></div>
                        <div class="col">
                            <div class="row text-muted">Shirt</div>
                            <div class="row">Cotton T-shirt</div>
                        </div>
                        <div class="col"> <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a> </div>
                        <div class="col">&euro; 44.00 <span class="close">&#10005;</span></div>
                    </div>
                </div> --}}
                {{!-- <div class="row border-top border-bottom">
                    <div class="row main align-items-center">
                        <div class="col-2"><img class="img-fluid" src="https://i.imgur.com/pHQ3xT3.jpg"></div>
                        <div class="col">
                            <div class="row text-muted">Shirt</div>
                            <div class="row">Cotton T-shirt</div>
                        </div>
                        <div class="col"> <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a> </div>
                        <div class="col">&euro; 44.00 <span class="close">&#10005;</span></div>
                    </div>
                </div> --}}
                {{!-- <div class="back-to-shop"><a href="#">&leftarrow;</a><span class="text-muted">Back to shop</span></div> --}}
            </div>
            <div class="col-md-4 summary">
                <div>
                    <h5><b>Summary</b></h5>
                </div>
                {{!-- <hr> --}}
                {{!-- <div class="row">
                    <div class="col" style="padding-left:0;">ITEMS 3</div>
                    <div class="col text-right">&euro; 132.00</div>
                </div> --}}
                {{!-- <form>
                    <p>SHIPPING</p> <select>
                        <option class="text-muted">Standard-Delivery- &euro;5.00</option>
                    </select>
                    <p>GIVE CODE</p> <input id="code" placeholder="Enter your code">
                </form> --}}
                <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                    
                    <div class="col">TOTAL PRICE</div>
                    
                    
                    <div class="col text-right text-success"  id="total"> {{total}}</div>

                </div> <a href="/checkout" class="btn">CHECKOUT</a>
            </div>
          
        </div>
    </div>
    {{/if}}
  <!--Section: Block Content-->

  