<style>


  @media only screen and (min-width: 1200px) {
  div.scroll {
               
              
              
               
                height: 100vh;
                overflow-x: hidden;
                overflow-y: auto;
                text-align:justify;
            }
}


 @media only screen and (max-width: 1200px) {
 .adrressorder{
display: none;
 }
}


     
</style>


<div class="container rounded bg-white  mb-3" style="padding-top:1px">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
            
              <span class="font-weight-bold">{{user.profile.fullname}}</span><span class="text-black-50">{{user.profile.email}}</span><span> </span></div>
            <a href="/userprofile"  class="btn mt-2" style="width: 100%;background-color:#fff;border:1px solid #e7ab3c">Profile information</a>
             <a href="/profileaddress" class="btn mt-2" style="width: 100%;background-color:#ffff;border:1px solid #e7ab3c">Manage Addresses</a>
              <a href="/userorderdetails" class="btn mt-2" style="width: 100%;background-color:#e7ab3c;border:1px solid #e7ab3c">My orders</a>
        </div>
        <div class="col-md-8 border-right">
            
            <div class="p-3 py-5 scroll">
               
{{#each userAllOrderedProducts}}
                <div class="card p-2">
  <div class="card-body" style="background-color: #f5f5f5;">
    <div class="card">
  <div class="card-body">
    <h6 id="{{this.item}}{{this.size}}uo">{{this.status}}</h6>
    <h6 class="mt-2 mb-3">{{this.date}}</h6>
   <div class="card">
  <div class="card-body" style="background-color: #f5f5f5;">
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-5" style="height: auto;">
   <a href="/product?productid={{this.productdetail.productid}}"><img src="https://sportshub.store/images/product-images/{{this.item}}1.png" alt=""></a>
        </div>
         <div class="col-9">
 <h5><span>{{this.productdetail.brand}}</span></h5>
 <h6 class="mt-2"><span><b>{{this.productdetail.productname}}</b> </span></h6>

 <h6 class="mt-2">Size:  <span>{{this.size}}</span></h6>
 <h6 class="mt-2">Quantity:  <span>{{this.quantity}}</span></h6>
 <h6 class="mt-2 adrressorder">Address: {{this.deliveryDetails.housename}},{{this.deliveryDetails.street}}<br>{{this.deliveryDetails.district}},{{this.deliveryDetails.state}}<br>{{this.deliveryDetails.pincode}}</h6>
 {{#if this.canceled}}

 {{else}}

 {{#if this.delivered}}

 {{else}}
 <button class="btn mt-3" style="background-color: #c9c6c6;" onclick="cancelproduct('{{this._id}}','{{this.item}}','{{this.size}}')">cancel</button>
 {{/if}}
 {{/if}}
        </div>

    </div>
  </div>
</div>
  </div>
</div>
  </div>
</div>

{{/each}}

                  




           </div>


        </div>
      
    </div>
</div>














<script>
   $(document).on("click",function() {
        document.getElementById('searchResults').innerHTML = "";
      });
</script>







