<div class="container rounded bg-white  mb-3">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
              {{!-- <img class="rounded-circle mt-5" width="100px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"> --}}
              <span class="font-weight-bold">{{user.profile.fullname}}</span><span class="text-black-50">{{user.profile.email}}</span><span> </span></div>
            <a href="/userprofile"  class="btn mt-2" style="width: 100%;background-color:#fff;border:1px solid #e7ab3c">Profile information</a>
             <a href="/profileaddress" class="btn mt-2" style="width: 100%;background-color:#ffff;border:1px solid #e7ab3c">Manage Addresses</a>
              <a href="/userorderdetails" class="btn mt-2" style="width: 100%;background-color:#e7ab3c;border:1px solid #e7ab3c">My orders</a>
        </div>
        <div class="col-md-8 border-right">
            
            <div class="p-3 py-5">
                {{!-- <div  class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right" ></h4>
                </div> --}}
{{#each userAllOrderedProducts}}
                <div class="card p-2">
  <div class="card-body" style="background-color: #f5f5f5;">
    <div class="card">
  <div class="card-body">
    <h6 id="{{this.item}}{{this.size}}uo">{{this.status}}</h6>
    <h6 class="mt-2 mb-3">{{this.date}}</h6>
   <div class="card">
  <div class="card-body" style="background-color: #f5f5f5;">
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-5" style="height: auto;">
<img src="/images/product-images/{{this.item}}1.png" alt="">
        </div>
         <div class="col-9">
 <h5><span>{{this.productdetail.brand}}</span></h5>
 <h6 class="mt-2"><span><b>{{this.productdetail.productname}}</b> </span></h6>
 {{!-- <h6 class="mt-2">Price: <span>{{this.subtotal}}</span></h6> --}}
 <h6 class="mt-2">Size:  <span>{{this.size}}</span></h6>
 <h6 class="mt-2">Quantity:  <span>{{this.quantity}}</span></h6>
 <h6 class="mt-2">Address: {{this.deliveryDetails.housename}},{{this.deliveryDetails.street}}<br>{{this.deliveryDetails.district}},{{this.deliveryDetails.state}}<br>{{this.deliveryDetails.pincode}}</h6>
 {{#if this.canceled}}

 {{else}}

 {{#if this.delivered}}

 {{else}}
 <button class="btn mt-3" style="background-color: #c9c6c6;" onclick="cancelproduct('{{this._id}}','{{this.item}}','{{this.size}}')">cancel</button>
 {{/if}}
 {{/if}}
        </div>

    </div>
  </div>
</div>
  </div>
</div>
  </div>
</div>

{{/each}}

                  




           </div>


        </div>
        {{!-- <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience"><span>Edit Experience</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Experience</span></div><br>
                <div class="col-md-12"><label class="labels">Experience in Designing</label><input type="text" class="form-control" placeholder="experience" value=""></div> <br>
                <div class="col-md-12"><label class="labels">Additional Details</label><input type="text" class="form-control" placeholder="additional details" value=""></div>
            </div>
        </div> --}}
    </div>
</div>





















