 <!-- Product Shop Section Begin -->
    <section class="product-shop spad" style="padding-top:26px">
        <div class="container">
            <div class="row ml-5 mr-5">
               <h5 style="margin-left:3%;margin-bottom:2%">My Wishlist</h5>
                <div class="col-lg-12 order-1 order-lg-2">
               
                    {{#if wishlist}}
                    <div class="product-list">
                        <div class="row">
                            {{#each wishlist}}
                            <div class="col-lg-3 col-sm-6" id="{{this.productdetails._id}}">
                                <div class="product-item">
                                    <div class="pi-pic">
                                   <a href="/product?productid={{this.productdetails.productid}}"><img  src="http://3.110.223.170/images/product-images/{{this.productdetails._id}}1.png" alt=""></a>     
                                        {{#if productdetails.offer}}
                                         <div style="background-color:#e7ab3c" class="sale pp-sale">{{this.productdetails.offerpercentage}} %off</div>
                                         {{/if}}
                                        <div class="icon">
                                            <i class="fas fa-times" onclick="removeFromWishlist('{{this.productdetails._id}}','{{this.productdetails.productname}}')" style="color: #e7503c;fony-size:1rem"></i>
                                        </div>
                                        <ul>
                                           
                                            <li class="quick-view" style="width:100%;cursor: pointer;"><a  style="color:#e7ab3c;" onclick="wishlistAddtoCart('{{this.productdetails.productid}}')" data-toggle="modal" data-target="#exampleModalLong"><i class="fas fa-shopping-cart mr-3"></i>MOVE TO BAG</a></li>
                                       
                                        </ul>
                                    </div>
                                    <div class="pi-text">
                                        <div class="catagory-name">{{this.productdetails.brand}}</div>
                                        <a href="/product?productid={{this.productdetails.productid}}">
                                            <h5>{{this.productdetails.productname}}</h5>
                                        </a>
                                        <div class="product-price">
                                           <i class="fas fa-rupee-sign"></i> {{this.productdetails.price}}
                                           {{#if this.productdetails.offer}}
                                             <span>{{this.productdetails.landingprice}}</span>
                                             {{/if}} 
                                        </div>
                                    </div>
                                </div>
                            </div>

     {{/each}}    
                           <!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
<div class="row">
    <div class="col-3">
          <img  src="" id="proimagemodal" alt="">
          </div>
   <div class="col-9">
   <div class="pi-text">
                                        <div class="catagory-name" style="color: rgb(139, 143, 146);" id="brandnamemodal"></div>
                                        <a href="">
                                            <h5 id="modalproductname">{{this.productdetails.productname}}</h5>
                                        </a>
                                        <div class="product-price">
                                           <i class="fas fa-rupee-sign" style="color: #e7ab3c;"></i> <b style="color: #e7ab3c;" id="productpricemodal">{{this.productdetails.price}}</b> 
                                           {{#if this.productdetails.offer}}
                                             <span>{{this.productdetails.landingprice}}</span>
                                             {{/if}} 
                                        </div>
                                    </div>
   </div>

</div>


       

 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>
      <div class="modal-body">
        <h5><b>Select Size</b></h5>

   <div class="pd-size-choose mt-2 row">
                                    <p style="color:red" class="selectsize" id="selectsize">please select a size</p>
                                    <p style="color:red" class="selectsize" id="outofstock">Out of stock</p>
      
                            
                                 <div class="col-2">

                                      
                                     <div class="sc-item selectsize" id="smalloutofstock">
                                         
                                         <button class="roundmodalbutton"  onclick="outofstock()" style="color: grey;border:1px solid grey"  id="sm-size">S</button>
                                    
                                    </div>
                                  
                                   <div class="sc-item" id="smallstockin">
                                        <button class="roundmodalbutton" onclick="checksize('s')" id="sm-size">S</button>
                                      
                                    </div>
                                 

</div>
                                
                                    <div class="col-2">
                                    
                                    <div class="sc-item selectsize" id="mediumoutofstock">
                                        <button class="roundmodalbutton" onclick="outofstock()" style="color: grey;border:1px solid grey" id="md-size">M</button>
                                  
                                    </div>
                                 
                                     <div class="sc-item" id="mediumstockin">
                                        <button class="roundmodalbutton" onclick="checksize('m')" id="md-size">M</button>
                                       
                                    </div>
                                 

                                
                                  
</div>
                                    
                                   
                                    <div class="col-2">
                                 
                                     
                                   <div class="sc-item selectsize" id="largeoutofstock">
                                        <button class="roundmodalbutton" onclick="outofstock()" style="color: grey;border:1px solid grey" id="lg-size">L</button>

                                    </div>
                                  
                                   <div class="sc-item" id="largestockin">
                                        <button class="roundmodalbutton" onclick="checksize('l')" id="lg-size">L</button>
                                       
                                    </div>
                                  

</div>


                                  





                                 
                                </div>


      </div>
      <div class="modal-footer">
       
        <button style="width: 100%;background-color:#e7ab3c;border:none" onclick="addtocartproduct()" type="button" class="btn btn-primary"><i class="fas fa-shopping-cart mr-3"></i>DONE</button>
      </div>
    </div>
  </div>
</div>
                     
                           
                        </div>
                    </div>
                  
                    {{else}}
                    <div class="d-flex justify-content-center">
<img src="http://3.110.223.170/images/users/wishlistempty2.png" style="" alt="image">
</div>
                    {{/if}}

                    
                 
                </div>
            </div>
        </div>
    </section>
    <!-- Product Shop Section End -->

  


      <script src="javascripts/users/jquery-3.3.1.min.js"></script>



    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
let productIdForAddToCart  
let productPriceForAddToCart
var sizeOfProduct;
function checksize(size){ 
    
    document.getElementById('selectsize').classList.add('selectsize');
    document.getElementById('outofstock').classList.add('selectsize');
     sizeOfProduct = size;

}

function addtocartproduct(){
    console.log("hi")
 let cartcounts =  document.getElementById('cartcountvalue').innerHTML; 


    document.getElementById('selectsize').classList.add('selectsize');
if(sizeOfProduct){

    $.ajax({
        
        url:'/addtocartproduct?productid='+productIdForAddToCart+'&size='+sizeOfProduct+'&subtotal='+productPriceForAddToCart,
        method:'get',
         success:(response)=>{
          
             if(response.sessionrequired){
                 window.location.replace("/userlogin");
            }
             else if(response.added){
                 cartcounts = Number(cartcounts);
                document.getElementById('cartcountvalue').innerHTML = cartcounts+1;
               

const Toast = Swal.mixin({
  toast: true,
  position: 'top-end',
  showConfirmButton: false,
  timer: 1300,
  timerProgressBar: true,
  didOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})

Toast.fire({
  icon: 'success',
  title: 'Added to cart succesfully'
})

                  setTimeout(function(){ 
                 location.reload();
              }, 1300);           
                
              
                 
              
             }
             else if(response.exist){
           

const Toast = Swal.mixin({
  toast: true,
  position: 'top-end',
  showConfirmButton: false,
  timer: 1800,
  timerProgressBar: true,
  didOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})

Toast.fire({
  icon: 'warning',
  title: 'Product already exist in cart'
})


             }
     
         }
    })



}else{
    document.getElementById('selectsize').classList.remove('selectsize');
}

}





function wishlistAddtoCart(id){
    $.ajax({
        url:'productwishlist?productid='+id,
        method:'get',
        success:(response)=>{
             
          document.getElementById('brandnamemodal').innerHTML = response.productdetails.brand;
          document.getElementById('proimagemodal').src = "http://3.110.223.170/images/product-images/"+response.productdetails._id+"1.png"

document.getElementById('modalproductname').innerHTML = response.productdetails.productname;

document.getElementById('productpricemodal').innerHTML = response.productdetails.price;

if(response.quantity.smalloutofstock){
document.getElementById('smalloutofstock').classList.remove('selectsize');
document.getElementById('smallstockin').classList.add('selectsize');
}

if(response.quantity.mediumoutofstock){
document.getElementById('mediumoutofstock').classList.remove('selectsize');
document.getElementById('mediumstockin').classList.add('selectsize');
}

if(response.quantity.largeoutofstock){
document.getElementById('largeoutofstock').classList.remove('selectsize');
document.getElementById('largestockin').classList.add('selectsize');
}

productIdForAddToCart = response.productdetails._id;
productPriceForAddToCart = response.productdetails.price
        }
    })
}


  $(document).on("click",function() {
        document.getElementById('searchResults').innerHTML = "";
      });

    </script>